@charset "utf-8";


/* ======== cabecera ===================================*/
#top-bar {
	margin:0 auto;
	padding:0;
	background-color: #FFF;
}


.page-full-width {
	-webkit-box-shadow: 0px 10px 28px 0px rgba(51, 50, 50, 0.73);
	-moz-box-shadow:    0px 10px 28px 0px rgba(51, 50, 50, 0.73);
	box-shadow:         0px 10px 28px 0px rgba(51, 50, 50, 0.73);
	border-bottom: 3px solid #fff;
	background: #e9eaed;
	margin:0px auto;
	padding:14px 0 0 0;
	height:80px;	
}

/* ========== LOGOS ======================*/

.kff{
	float:right;
	width:150px;
	height:52px;
	margin-right:80px;	
}

.kff img{
	width:150px;
	height:52px;	
}


.conap{
	float:left;
	width:77px;
	height:65px;
	margin-right:80px;	
}

.conap img{
	width:77px;
	height:65px;	
}


/* =======================  CLEARFIX ============================= */
/* For modern browsers */
.cf:before,
.cf:after {
    content: "";
    display: table;
}

.cf:after { clear:both; }

/* For IE 6/7 (trigger hasLayout) */
.cf {
	zoom: 1;
	width: 100%;
}

/* ======================================================================= */

.fl { float: left; }
.fr { float: right; }
.cb { clear: both; }


/* ============= MENU BUTTONS ================== */
.button {
	padding: 0.833em; /* 10/12 */
	display: inline-block;
	text-decoration: none;
	background-repeat: no-repeat;
	text-align: center;
}

.dark {
	background-color: #3f4551;
	color: white;
}  

.dark:hover {
	background-color: #5d6677;
	color: white;
}

.round {
	border-radius: 0.3125em; /* 5/16 */
	-moz-border-radius: 0.3125em; /* 5/16 */
	-webkit-border-radius: 0.3125em; /* 5/16 */
}

.menu-email { background-image: url("../img/icons/menu/menu-email.png"); }
.menu-email:hover { background-image: url("../img/icons/menu/menu-email-over.png"); }
.menu-email-special {
	background-image: url("../img/icons/menu/menu-email-special.png");
	color: #7fcdff;
}
	
.menu-settings { background-image: url("../img/icons/menu/menu-settings.png"); }
.menu-settings:hover { background-image: url("../img/icons/menu/menu-settings-over.png"); }

.menu-logoff { background-image: url("../img/icons/menu/menu-logoff.png"); margin-top:20px; }
.menu-logoff:hover { background-image: url("../img/icons/menu/menu-logoff-over.png"); }

.menu-user { 
		background-image: url("../img/icons/menu/menu-user.png"); 
}

/* =========================================================*/


/* ==========================  MENU ======================================= */

ul#nav {
	list-style-type: none;
}

	ul#nav > li {
		float: left;
		margin-right: 0.312em; /* 5/16 */
		position: relative;
	}
		ul#nav li:first-child { margin-left: 0; }
		ul#nav li:hover ul { left: 0; /* On hover, we make the submenu visible again */ }	
		/* Persistent hover state, exactly the same style as the inner anchor on hover (.dark:hover) */
		ul#nav li:hover a {
			background-color: #5d6677;
			color: white;
		}
		
	ul#nav li.v-sep {
		border-right: 1px solid #3f4551;
		margin-right: 0.625em; /* 10/16 */
		padding-right: 0.625em; /* 10/16 */
		margin-top:20px
	}
	
	ul#nav li ul {
		list-style-type: none;
		position: absolute;
		z-index: 999;
		margin-top: -2px;
		left: -9999px;
	}
		ul#nav li ul li a {
			color: white;
			padding: 0.833em 0 0.833em 3em;
			border-top: 1px solid #6a7282;
			background: #5d6677 url('../img/menu-indicator.png') no-repeat right center;
			display: block;
			width: 100%;
			white-space: nowrap;
		}
			ul#nav li ul li:last-child a {
				border-bottom-right-radius: 0.3125em; /* 5/16 */
				border-bottom-left-radius: 0.3125em; /* 5/16 */
				-moz-border-bottom-right-radius: 0.3125em; /* 5/16 */
				-moz-border-bottom-left-radius: 0.3125em; /* 5/16 */
				-webkit-border-bottom-right-radius: 0.3125em; /* 5/16 */
				-webkit-border-bottom-left-radius: 0.3125em; /* 5/16 */
			}

			ul#nav li ul li a:hover { background-color: #7a8497; }
			

/* ======================== MAIN ============================================== */
#contenido_general{
	width:100%;
	clear:both;
	background-color:#84c26e;
	margin:0 0 10px 0;
	padding:0 0 2px 0;
}

#formulariogenerico{
	min-height:400px;
	margin:4px 4px 4px 4px;
	padding:0 0 0 0;
	color:#000;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

#izquierda{
	background-color:#3f4551;
	float:left;
	width:20%;
	height:200px;
	height:auto;
	margin:0 4px 0 0;
	padding:0 0 0 0;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;	
}

#derecha{
	width:90%;
	height:400px;
	height:auto;
	margin:0 auto;
}



/* ---------- FOOTER ---------- */
footer {
	clear:both;
	margin:0 auto;
	height:50px;
	text-align: center;
	/*	padding: 1.875em 0; /* 30/16 */
	background-color:#EFEFEF;
	/*	background-image:url(../img/repetir2.jpg);
	background-repeat:repeat-x;  */
	padding:6px 0 0 0;
}
